.admin-container {
  display: flex;
  min-height: 100vh;
  position: relative;

  &__navigation {
    background-color: $main-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 2rem 1rem;
    position: fixed;
    height: 100%;

    a {
      font-size: 1.2rem;
      color: #ffffff;
      padding: 1rem 1.5rem;
      transition: 0.3s ease;

      &:hover,
      &:focus,
      &.active-link {
        background-color: lighten($main-color, 7%);
        border-radius: 10px;
      }
    }
  }

  #h1-administration {
    position: absolute;
    top: 250px;
    left: 750px;
    transform: translate(-50%, -50%);
    margin: 0;
    color: $main-color;
  }

  &__content {
    margin-left: 250px;
    padding: 2rem;
    flex: 1;
    overflow-y: auto;
  }
}
