.collection {
  @include containerCenter;
}

.home__collection-image {
  @include flexbox(space-between, null, null,wrap);
margin: 0 auto;

  img {
    width: 500px;
    height: 400px;
    object-fit: cover;
    object-position: top;
  }

  .home__collection-description {
    @include flexbox(center, center, column,wrap);

    h3 {
      margin-top: 10px;
    }

    p {
      text-align: center;
      width: 400px;
      margin: 10px 0;
    }

    a {
      @include buttonRound(white, $main-color);
    }
  }
}
