.home__collection-image {
  @include flexbox(space-between, center, row, wrap);

  .collection-item {
    width: 30%; 
    position: relative;

    img {
      width: 100%;
      aspect-ratio: 9/8;
      object-fit: cover;
      object-position: top;
    }
  }

  .home__collection-description {
    @include flexbox(center, center, column, wrap);
    text-align: center;

    h3 {
      margin-top: 10px;
    }

    p {
      margin: 10px 0 15px 0;
      max-width: 100%;
    }

    a {
      @include buttonRound(white, $main-color);
    }
  }
}

/* Responsive - Tablet */
@media screen and (max-width: 768px) {
  .home__collection-image {
    @include flexbox(null, center, column, null);
    .collection-item {
      width: 100%; 
      margin-bottom: 3rem;
    }

    .home__collection-description {
      h3 {
        margin-top: 1rem;
      }
    }
  }
}
