.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}

.comments__input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  label {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-family: 'Montserrat Medium';
  }

  textarea{
    resize: none;
    padding: 1rem;
    height: 6rem;
    border-radius: 8px;
    background-color: white;
    width: 100%;
    min-width: 50vw;
    border: 1px solid $main-color;
    outline: none;
  }
}

.comments__button {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    margin-top: 1rem;
    margin-bottom: 4em;

    @include buttonSuqare(white, $main-color);
  }
}

.comments__username-content {
  position: relative;
  margin-bottom: 1.5rem;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  min-width: 50vw;
  max-width: 50vw;
  border: 1px solid $main-color;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;

  .comments__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .comments__username {
    font-family: 'Montserrat SemiBold';
    font-size: 1.1rem;
  }

  .comments__icons {
    display: flex;
    gap: 0.5rem;

    .edit-icon {
      color: $main-color;
      font-size: 1.3rem;
      cursor: pointer;
    }

    .delete-icon {
      color:rgb(190, 13, 13);
      font-size: 1.3rem;
      cursor: pointer;
    }
  }

  .comment__date {
    align-self: flex-end;
    color: gray;
    font-style: italic;
    margin-top: 8px;
  }

  h4 {
    margin-bottom: 1rem;
    color: $main-color;
  }

  p {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
  }
}

.comments__toggle-button {
  margin-bottom: 1rem;
  @include buttonSuqare(white, $secondary-color);
}

.comment__login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
}

.comment__link {
  text-decoration: underline;
  margin-top: 0.5rem;
  color: $main-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Responsive - Tablet */
@media screen and (max-width: 768px) {
  .comments p {
    text-align: left;
  }

  .comments__input-container textarea {
    min-width: 87vw;
  }

  .comments__username-content {
    padding: 0.75rem;
    min-width: 87vw;
    max-width: 87vw;
  }
}

/* Responsive - Mobile */
@media screen and (max-width: 480px) {
  .comments__input-container textarea {
    min-width: 87vw;
    height: 7rem;
  }

  .comments__username-content {
    padding: 0.75rem;
    min-width: 87vw;
  }

  .comments__button {
    width: 100%;

    button {
      width: 100%;
    }
  }

  .p-no-comments {
    text-align: center!important;
    margin-bottom: 2rem;
  }
}
.comment__edit-textarea {
  resize: none;
  padding: 0.6rem;
  border-radius: 4px;
  outline: none;
}

.comments__button-group {
display: flex;
justify-content: center;
gap: 1rem;
margin: 1rem 0;
button {
  @include buttonSuqare(white, $secondary-color);
}

}