.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}

.comments__input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  label {
    margin-bottom: 0.5rem;
  }

  textarea {
    resize: none;
    padding: 1rem;
    height: 6rem;
    border-radius: 8px;
    background-color: white;
    width: 100%;
    min-width: 50vw;
    border: 1px solid $main-color;
    outline: none;
  }
}

.comments__button {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    margin-top: 1rem;
    margin-bottom: 4em;

    @include buttonSuqare(white, $main-color);
  }
}

.comments__username-content {
  margin-bottom: 1.5rem;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  min-width: 50vw;
  max-width: 50vw;
  border: 1px solid $main-color;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;

  .comments__username {
    font-family: 'Montserrat SemiBold';
  }

  h4 {
    margin-bottom: 1rem;
    color: $main-color;
  }

  p {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
  }
}

.comments__toggle-button {
  margin-bottom: 1rem;
  @include buttonSuqare(white, $secondary-color);
}

.comment__login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
}

.comment__link {
  text-decoration: underline;
  margin-top: 0.5rem;
  color: $main-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Responsive - Tablet */
@media screen and (max-width: 768px) {
  .comments p {
    text-align: left;
  }

  .comments__input-container textarea {
    min-width: 80vw;
  }

  .comments__username-content {
    padding: 0.75rem;
    min-width: 80vw;
    max-width: 80vw;
  }
}

/* Responsive - Mobile */
@media screen and (max-width: 480px) {
  .comments__input-container textarea {
    min-width: 85vw;
    height: 7rem;
  }

  .comments__username-content {
    padding: 0.75rem;
    min-width: 85vw;
  }

  .comments__button {
    width: 100%;

    button {
      width: 100%;
    }
  }

  .p-no-comments {
    text-align: center!important;
    margin-bottom: 2rem;
  }
}
