
@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto.woff') format("woff") ;
  }

@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat.woff') format("woff");
  }

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/src/assets/fonts/Montserrat-Bold.woff') format("woff");
  }