
@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat.woff') format("woff");
  }

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/src/assets/fonts/Montserrat-Bold.woff') format("woff");
  }


@font-face {
  font-family: 'Great Vibes';
  src: url('/src/assets/fonts/GreatVibes-Regular.woff') format("woff") ;
}

@font-face {
  font-family: 'Allura Regular';
  src: url('/src/assets/fonts/Allura-Regular.woff') format("woff") ;
}
