.footer {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 45px;
  background-color: $main-color;
  color: white;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;

  .footer__column {
    flex: 1 1 250px;
    max-width: 100%;

    h3 {
      margin-bottom: 1rem;
      color: white;
    }

    a {
      margin-top: 1rem;
      display: block;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }

    .line {
      @include line(50, white);
    }
  }

  // Section contact avec icônes
  .footer__contact-item {
    display: flex;
    margin-top: 1rem;

    svg {
      margin-right: 10px;
      font-size: 1.2rem;
      color: white;
    }
  }


  .footer__line {
    width: 100%;
    height: 1px; 
    background-color: white;
    margin-top: 20px;
  }
}


.footer__copyright {
  display: flex;
  flex-direction: column;
    @include flexbox(center, center, null);
  p {
    margin-bottom: 1rem;
    color: white;
  }


  .logo {
    animation: none !important;

    &__kaela {
      animation: none !important;
      color: white;
      font-size: 1.4rem;
    }

    &__couture {
      font-size: 1rem;
      color: white;
    }
  }
}
