.form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  margin: 2rem auto;
  max-width: 100%;
  overflow-x: auto;

  fieldset {
    border: none;
  }

  legend {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Montserrat SemiBold';
  }

  .form__group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1.5rem;

    label {
      align-self: center;
      font-size: 1.1rem;
    }

    input,
    textarea,
    select {
      background-color: #ffffff;
      padding: 0.5rem;
      border: 1px solid $main-color;
      border-radius: 4px;
      width: 100%;
      outline: none;
    }

    textarea {
      resize: none;
      min-height: 100px;
    }
  }

  .form__button {
    display: grid;
    grid-template-columns: 1fr 2fr;

    button {
      grid-column: 2 / 3;
      justify-self: start;
      cursor: pointer;
      @include buttonSuqare(white, $main-color);

      &:hover {
        background-color: darken(#2c4548, 10%);
      }
    }
  }

  img {
    width: 150px;
    margin-bottom: 1rem;
  }
}

/* Responsive - Tablet */
@media (max-width: 1024px) {
  .form {
    .form__group {
      grid-template-columns: 1fr;
    }

    .form__button {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  .form__group {
    label {
      margin-bottom: 0.4rem;
    }
  }

  .form__button {
    button {
      grid-column: 1 !important;
      justify-self: center !important;
    }
  }
}

/* Responsive - Mobile */
@media (max-width: 768px) {
  .form {
    padding: 1rem;

    .form__group {
      margin-bottom: 1rem;
    }
  }
}

/* Responsive - Small Mobile */
@media (max-width: 480px) {
  .form {
    padding: 1.5em;

    .form__group {
      select {
        color: black;
      }
    }

    input,
    textarea,
    select {
      border: 1px solid $main-color !important;
    }
  }
}
