.form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  row-gap: 20px;
  width: 100%;
  padding: 2rem;
  background-color: $main-color;
  color: white;
  margin-bottom: 2rem;
  border-radius: 8px;

  label {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
  }

  textarea {
    resize: none;
  }

  textarea,
  select,
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
    border: none;
    box-sizing: border-box; /* Assure que le padding est inclus dans la largeur */
  }

  button {
    @include buttonSuqare(black, $yellow);
    grid-column: 2 / 3;
    justify-self: start;
  }
}

@media screen and (max-width: 480px) {
  .form {
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
    padding: 1.5rem;
    textarea,
    select,
    input[type="text"],
    input[type="file"] {
      width: 100%;
    }
    textarea {
      height: 100px;
    }

    button {
      grid-column: 1;
      justify-self: center;
      margin-top: 1rem;
    }
  }
}
