.form {
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  margin-bottom: 2rem;

  fieldset {
    border: none;
  }

  legend {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 40px;
  }

  .form__group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1.5rem;

    label {
      align-self: center;
    }

    input,
    textarea,
    select {
      background-color: #ffffff;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      outline: none;

      &:focus {
        border-color: $main-color;
      }
    }

    textarea {
      resize: none;
      min-height: 100px;
    }
  }

  .form__button {
    display: grid;
    grid-template-columns: 1fr 2fr;

    button {
      @include buttonSuqare(white, #2c4548);

      & {
        grid-column: 2 / 3;
        justify-self: start;
        cursor: pointer;
      }

      &:hover {
        background-color: darken(#2c4548, 10%);
      }
    }
  }

  img {
    width: 150px;
    margin-bottom: 1rem;
  }
}
