/* Fichier global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  @include containerCenter;
  background-color: $background-color;
}

a {
  color: black;
  text-decoration: none;
}

img {
  border-radius: 8px;
  max-width: 100%;
}

button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

  // :focus {
  //   outline: 2px solid rgb(38, 193, 193);
  //   outline-offset: 4px;  
  // }
