.logo {
  @include flexbox(null, center, column);
  color: $secondary-color;
  animation: fadeIn 1s ease-in-out;


  &__kaela {
    font-size: 1.7rem;
    letter-spacing: 0.15em;
    position: relative;
    animation: slideInFromLeft 1s ease-out;
    color: $secondary-color;
    font-family: "Montserrat", sans-serif!important;
  }

  &__couture {
    font-size: 1.1rem;
    letter-spacing: 0.4em;
    color: $secondary-color;
    position: relative;
    left: 2.5rem;
    transform: translateY(10px);
    opacity: 0;
    animation: slideInFromRight 1.2s ease-out forwards;
    font-family: "Montserrat", sans-serif!important;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Responsive - Mobile */
@media screen and (max-width: 480px) {
  .logo {
    &__kaela {
      font-size: 1.3rem;
    }

    &__couture {
      font-size: 1rem;
    }
  }
}
