.message {
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  position: relative;
}

.message.success {
  background-color: #dff0d8;
  color: #3c763d;
}

.message.error {
  background-color: #f2dede;
  color: #a94442;
}

.message-close-btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%); 
  font-size: 18px;
  background: none;
  border: none;
  color: inherit; // Inherits the color from the parent element
  cursor: pointer;
}
