
// Mixins

@mixin flexbox($jc: false, $ai: false, $fd: false, $fw: false) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;

  @if $jc {
    justify-content: $jc;
  }
  @if $ai {
    align-items: $ai;
  }
  @if $fd {
    flex-direction: $fd;
  }
  @if $fw {
    flex-wrap: $fw;
  }
}

@mixin containerCenter {
  width: 100%;
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 5vw;
}

@mixin buttonRound($color, $bc: null, $border: false) {
  font-size: 1rem;
  padding: 0.5rem 3rem;
  border-radius: 50px;
  text-align: center;
  color: $color;
  cursor: pointer;
  transition: background-color 0.2s ease;

  @if $bc != null {
    background-color: $bc;

    &:hover {
      background-color: darken($bc, 10%);
    }
  }

  @if $border {
    border: 2px solid black;
  }
}


@mixin buttonSuqare($color, $bc) {
  font-size: 1rem;
  padding: 0.5rem 3rem;
  border-radius: 6px;
  text-align: center;
  color: $color;
  background-color: $bc;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken($bc, 10%);
  }

}

@mixin line($w, $bc) {

  width: 0;
  height: 2px;
  background-color: $bc;
  margin-bottom: 2rem;
  border-radius: 4px;
  animation: expand-width-#{$w} 1s ease-out forwards;

  @keyframes expand-width-#{$w} {
    from {
      width: 0;
    }
    to {
      width: #{$w}px;
    }
  }
}
