
// Mixins

@mixin flexbox($jc: false, $ai: false, $fd: false, $fw: false) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;

  @if $jc {
    justify-content: $jc;
  }
  @if $ai {
    align-items: $ai;
  }
  @if $fd {
    flex-direction: $fd;
  }
  @if $fw {
    flex-wrap: $fw;
  }
}

@mixin containerCenter {
  width: 100%;
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 5vw;

  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }
}

@mixin buttonRound($color, $bc: null, $border: false) {
  padding: 0.4rem 3rem;
  border-radius: 50px;
  text-align: center;
  color: $color;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken($bc, 10%);
  }

  @if $bc != null {
    background-color: $bc;
  }

  @if $border {
    border: 2px solid black;
  }

  // Media query pour les petits écrans (téléphones)
  @media screen and (max-width: 768px) {
    padding: 0.5rem 3rem;
    font-size: 0.9rem;
  }

}


@mixin buttonSuqare($color, $bc) {
  padding: 1rem 3rem;
  border-radius: 6px;
  text-align: center;
  color: $color;
  background-color: $bc;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken($bc, 10%);
  }
}

@mixin line($w, $bc) {
  width: 0;
  height: 2px;
  background-color: $bc;
  margin-bottom: 1rem;
  border-radius: 4px;
  animation: expand-width-#{$w} 1s ease-out forwards;

  @keyframes expand-width-#{$w} {
    from {
      width: 0;
    }
    to {
      width: #{$w}px;
    }
  }
}
