@mixin flexbox($jc, $ai:false, $fd:false, $fw:false) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;

    @if $ai {
        align-items: $fw;
    }
    @if $fd {
        flex-direction: $fd;
    }
    @if $fw {
        flex-wrap: $fw;
    }
   
}

@mixin buttonRound($color, $bc: null, $border: false) {
    // padding: 6px 40px;
    width: 50%;
    text-align: center;
    padding: 8px 0;
    border-radius: 50px;
    color: $color;
    
    @if $bc != null {
        background-color: $bc;
    }

    @if $border {
        border: 2px solid black;
    }
}

@mixin buttonSuqare($color, $bc) {
    // padding: 6px 55px;
    width: 20%;
    text-align: center;
    padding: 8px 0;
    border-radius: 6px;
    color: $color;
    background-color: $bc;

}

@mixin containerCenter {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}