.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;

  .modal__content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 30%;
    width: 100%;

    h2 {
      margin-bottom: 1.2rem;
    }

    button {
      @include buttonSuqare(white, $main-color);

      & {
        display: block;
        margin: 10px auto;
      }
    }
  }
}
@media (max-width: 768px) {
  .modal__content {
    max-width: 90%!important;
  }
}