.navigation {
  @include flexbox(space-between, center);
  width: 100%;
  padding: 2rem 0;
  position: relative;

  .burger-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 0;
    gap: 5px;

    .bar {
      width: 25px;
      height: 3px;
      background-color: $navigation-color;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &.open .bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &.open .bar:nth-child(2) {
      opacity: 0;
    }

    &.open .bar:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  .navigation_links {
    display: flex;
    gap: 1rem;

    a {
      position: relative;
      padding-bottom: 5px;
      color: $navigation-color;
      font-size: 1.1rem;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: $secondary-color;
        transition: width 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }

      &.active::after {
        width: 100%;
      }
    }


    // Styles pour mobile
    @media screen and (max-width: 768px) {
      display: none; // Cache les liens par défaut sur mobile

      &.open {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        background-color: $navigation-color;
        border-radius: 4px;

        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem;
        z-index: 99;

        // Lorsque le menu burger est ouvert, les liens du dropdown deviennent noirs
        .dropdown-content a {
          color: black;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .navigation_links {
      a {
        color: white;
        &::after {
          background-color: white;
        }
      }
    }

    .burger-icon {
      display: flex; // Affiche l'icône burger sur mobile
    }
  }
}

@media screen and (max-width: 890px) {
  .navigation_links {
    a {
      font-size: 1rem !important;
    }
  }
}
