/* Conteneur principal */

  h1 {
    margin-bottom: 3rem;
  }

  .product-detail {
    display: flex;
    @include flexbox(center, center);
  }


/* Section de description */
.product-detail__description {
  h2 {
    color: rgb(58, 58, 58);
    margin-bottom: 1rem;
  }

  .product-detail__header {
    text-align: left; 
    margin-bottom: 1rem;
  
    p {
      width: 70%;
    }
  }
  

  .product-detail__body {
    p {
      margin: 0.4rem 0;
    }
  }

  .bold {
    font-family: "Montserrat Medium";
  }
}

/* Section de l'image */
.product-detail__image {
  flex: 1 1 40%;
  @include flexbox(center, center);
  margin: 0 auto;
  width: 100%;

  img {
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    max-width: 380px;
    min-width: 300px;
  }
}

/* Responsive Design */

/* Pour tablettes */
@media screen and (max-width: 768px) {
  .product-detail {
    @include flexbox(center, center, column);
  }

  .product-detail__description {
    .product-detail__body {
      margin-bottom: 1rem;
      p {
        width: 100%;
        margin: 0.3rem 0;
      }
    }
  }

  .product-detail__image {
    width: 100%; // L'image prend toute la largeur
    img {
      width: 100%; // S'assure que l'image est responsive
    }
  }
}
