.detail-product {
  @include flexbox(center, center, column);
  text-align: center;
  width: 100%;

  h1 {
    margin-bottom: 1rem;
  }

  .detail-product__description {
    margin-bottom: 10px;
  }

  .detail-product__image {
    width: 100%;
    max-width: 400px;
    @include flexbox(center, center);

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  p {
    margin-top: 1.5rem;
  }

  .detail-product__contact {
    text-decoration: underline;
    color: $navigation-color;
  }
}

/* Responsive - Tablet */
@media screen and (max-width: 768px) {
  .detail-product__image img {
    max-width: 80%;
  }
}

/* Responsive - Mobile */
@media screen and (max-width: 480px) {
  .detail-product__image {
    width: 100%;
    max-width: 100%;

    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
