* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
   
}

body {
  @include containerCenter;
  background-color: $background-color;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Montserrat-Bold';
    font-size: 2.5rem;
  }

  img {
    border-radius: 6px;
  }

  button {
    border: none;
  }

  // .message-error {

  // }

  // .message-succes {

  // }

/* style de focus à tous les éléments interactifs */
/* Style de focus par défaut */
:focus {
  outline: none;
}

/* Style de focus pour la navigation clavier */
body.user-is-tabbing :focus {
  outline: 2px solid #005fcc;
  outline-offset: 4px;
}
