// Table
.table {
  h3 {
    text-align: center;
    font-size: 1.3rem;
  }
.table__container {
  display: flex;
  justify-content: center;

  .table__content {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-bottom: 2rem;


    th,
    td {
      border: 1px solid #dee2e6;
      padding: 12px;
      text-align: center;
    }

    th {
      background-color: $main-color;
      color: #ffffff;
    }

    .action-header {
      text-align: center;
    }
  }
}

.delete-color {
  color:red;
}

.update-color {
  color:rgb(26, 26, 183);
}
}