.table {
  h2 {
    text-align: center;
  }

  .table__container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
  }

  .table__content {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;

    th,
    td {
      border: 1px solid #cfd2d5;
      padding: 12px;
      text-align: center;
    }

    td img {
      border-radius: 4px;
      width: 100%;
    }

    th {
      background-color: $main-color;
      color: #ffffff;
    }

    .action-header {
      text-align: center;
    }
  }

  .delete-color {
    color: red;
  }

  .update-color {
    color: rgb(26, 26, 183);
    background: none !important;
  }

  button {
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
  }
}

/* Responsive - Small Desktop */
@media (max-width: 1024px) {
  .table__content {
    width: 800px;
  }
}

/* Responsive - Mobile */
@media (max-width: 768px) {
  .table__content {
    width: 600px;
  }
}
