.table-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    background-color: #f8f9fa;

    th, td {
      border: 1px solid #dee2e6;
      padding: 12px;
    }

    th {
      background-color: $main-color;
      color: #ffffff;
    }


    caption {
      caption-side: top;
      text-align: left;
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .action-header {
      text-align: center;
    }

    a {
      color: $main-color;
    }
  }
}
