.about-me {
  .about-me__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .about-me__description {
    width: 50%;

    h2 {
      margin-bottom: 20px;
      text-align: left;
    }

    p {
      margin-bottom: 30px;
      text-align: justify;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .about-me__image {
    img {
      width: 450px;
      height: 450px;
      object-fit: cover;

      @media screen and (max-width: 768px) {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      text-align: center;
    }
  }

  .about-me__footer {
    h2 {
      margin-bottom: 40px;
      text-align: center;
    }

    .about-me__footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .about-me__footer-image {
        flex: 0 1 calc(25% - 20px); // 4 images par ligne avec un espace de 20px entre elles
        margin-bottom: 20px;

        @media screen and (max-width: 1024px) {
          flex: 0 1 calc(33.33% - 20px); // 3 images par ligne
        }

        @media screen and (max-width: 768px) {
          flex: 0 1 calc(50% - 20px); // 2 images par ligne
        }

        @media screen and (max-width: 480px) {
          flex: 0 1 calc(100% - 20px); // 1 image par ligne
        }
      }

      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: top;
        cursor: pointer;

        @media screen and (max-width: 768px) {
          height: auto; // Ajuster la hauteur automatiquement sur petits écrans
        }
      }
    }
  }
}
