.about-me {
  h2 {
    margin-bottom: 1rem;
  }
  .about-me__header {

    @include flexbox(space-between, null, column, null);
 
    p {
      margin-bottom: 2rem;
      text-align: justify;
    }
    }

  .about-me__footer {
    h2 {
      margin-bottom: 40px;
      text-align: center;
    }

    .about-me__footer-container {
      @include flexbox(space-between, null, null, wrap);

      .about-me__footer-image {
        flex: 0 1 calc(25% - 20px); // 4 images par ligne avec un espace de 20px entre elles
        margin-bottom: 20px;

        @media screen and (max-width: 1024px) {
          flex: 0 1 calc(33.33% - 20px); // 3 images par ligne
        }

        @media screen and (max-width: 768px) {
          flex: 0 1 calc(50% - 20px); // 2 images par ligne
          @include flexbox(center, center, null, null);
          margin: 0 auto;
          margin-bottom: 10px;
        }

        @media screen and (max-width: 480px) {
          flex: 0 1 calc(90% - 20px); // 1 image par ligne
        }
      }

      img {
        width: 100%; // L'image prend toute la largeur de son conteneur
        aspect-ratio: 7/8;
        object-fit: cover;
        object-position: 50% 50%;
        cursor: pointer;
        transition: transform 0.3s ease-in-out; 

      &:hover {
        transform: scale(1.05);
      }

        @media screen and (max-width: 768px) {
          height: auto; // Ajuster la hauteur automatiquement sur petits écrans
          &:hover {
            transform: none;
          }
        }
      }
    }
  }
}
