.admin-container {
  display: flex;
  min-height: 100vh;

  &__navigation {
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 2rem 1rem;
    position: fixed;
    height: 100%;

    a {
      font-size: 1.2rem;
      color: #ffffff;
      padding: 1rem 1.5rem;
      transition:0.3s ease;

      &:hover {
        background-color: lighten($main-color, 7%); // Légère éclaircissement de la couleur principale
      }
    }
  }

  &__content {
    margin-left: 250px;
    padding: 2rem;
    flex: 1;
    overflow-y: auto;

    h1 {
      margin-bottom: 1.5rem;
    }
  }
}
