.contact {
  display: flex;
  flex-direction: row; // Affichage côte à côte par défaut
  align-items: stretch; // Assure que les deux sections aient la même hauteur
  justify-content: space-between;

  h2 {
    margin-bottom: 10px; // Ajuste l'espacement pour laisser de la place pour le trait
    position: relative; // Pour gérer la position du trait si nécessaire
    color: $main-color;
  }

  fieldset {
    border: none;
  }

  legend {
    font-size: 1.3rem;
  }

  .line {
    @include line(50, $main-color);
  }

  .contact__form,
  .contact__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
    border-radius: 8px;
    margin: 50px auto;
    width: 100%;
    font-style: normal;
    background-color: #ffffff;
  }

  .contact__form {
    margin-right: 5rem;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;

      label {
        display: block;
        margin-bottom: 8px;
      }

      input,
      textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #939393cc;
        outline: none;
        background-color: #fff;
        border-radius: 4px;

        &:focus {
          border-color: $main-color;
        }
      }

      textarea {
        resize: none;
        min-height: 100px;
      }

      .form__button-container {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
          @include buttonSuqare(white, $main-color);
          width: auto;

          @media screen and (max-width: 480px) {
            width: 100%;
            padding: 10px 0;
          }
        }
      }
    }
  }

  .contact__content {
    .contact__data {
      display: flex;
      align-items: center;
      margin-bottom: 1.3rem;

      p {
        margin-left: 1rem;
        color: $navigation-color;
      }

      svg {
        font-size: 1.5rem;
        color: $navigation-color;
      }
    }

    .contact__data.localisation {
      border-bottom: 1px solid $navigation-color;
      padding-bottom: 1.5rem;
    }

    #map {
      width: 100%;
      height: 200px;
      border-radius: 4px;
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    .contact__form {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  @media screen and (max-width: 768px) {
    .contact__data {
      flex-direction: column;

      p {
        margin-left: 0;
      }

      svg {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    h2 {
      font-size: 1.4rem;
    }
    input::placeholder,
    textarea::placeholder {
      font-size: 0.8rem;
    }

    .contact__form form input {
      padding: 12px !important;
    }
  }
}
