.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;

  input::placeholder,
  textarea::placeholder {
    font-size: 0.9rem;
    color: rgb(113, 113, 113);
  }
  
  h2 {
    margin-bottom: 10px;
    position: relative;
    color: white;
  }

  fieldset {
    border: none;
  }

  legend {
    font-size: 1.3rem;
  }

  .line {
    @include line(50, white);
  }

  .contact__form,
  .contact__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
    border-radius: 8px;
    margin-top: 50px;
    width: 100%;
    font-style: normal;
    background-color: $main-color;
  }

  .contact__form {
    form {
      width: 100%;
      display: flex;
      flex-direction: column;

      label {
        display: block;
        margin-bottom: 8px;
        color:white;
      }

      input,
      textarea {
        width: 100%;
        padding: 0.6rem;
        margin-bottom: 1.5rem;
        border: 1px solid $main-color;
        outline: none;
        background-color: white;
        border-radius: 4px;
      }

      textarea {
        resize: none;
        min-height: 100px;
      }

      .form__button-container {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
          width: auto; 
          @include buttonSuqare(black, $yellow);
        }
      }
    }
  }

  .contact__content {
    .contact__data {
      display: flex;
      align-items: center;
      margin-bottom: 1.3rem;

      p {
        margin-left: 1rem;
        color: white;
      }

      svg {
        font-size: 1.5rem;
        color: white;
      }
    }

    .contact__data.localisation {
      border-bottom: 1px solid white;
      padding-bottom: 1.5rem;
    }

    #map {
      width: 100%;
      height: 200px;
      border-radius: 4px;
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    .contact__form {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .contact__data {
      flex-direction: column;

      p {
        margin-left: 0;
      }

      svg {
        margin-bottom: 1rem;
      }
    }
    .contact__content {
      margin-bottom: 3rem;
    }
  }
}
