.evening-latest {
  position: relative;
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 140px;
    max-width:1600px;
    margin:auto;

    .top-image {
      position: relative;
      top: 15rem;
    }

    img {
      width: 100%;
      max-width: 650px;
      height: auto;
    }
  }

  .description-list {
    position: absolute;
    top: 16rem;
    left: 9%;
    width: 30%;
    z-index: 10;
    text-align: left;

    h3 {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
