.evening-latest {
  @include containerCenter();

  .evening-latest__image {
    @include flexbox(space-between, null, null, wrap);
    margin: 0 auto;

    .top-image {
      margin-top: 10rem;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 600px;
      height: auto;
    }
  }

  .evening-latest__description {
    max-width: 30%;
    position:absolute;
  }

  h3 {
  }

  p {
  }
}
