.evening {
    h1 {
        margin-bottom: 80px;
    }

    .image {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        position: relative;

        .top-image {
            top: 200px;
            position: relative
        }

        .test {
            margin-bottom: 50px;
        }

        img {
            width: 100%; 
            max-width: 600px;
            object-fit: cover;
            object-position: top;
        }

    }
}
