.home {
  h1 {
    letter-spacing: 4px
  }
  .header-image {
    @include flexbox(center, center, null, wrap);

    .large-image img {
      width: 450px;
      object-fit: cover;
    }

    img {
      margin: 20px;
      width: 400px;
    }
  }

  .home_description  {
    position: relative;
    left: 250px; 
    margin: 50px 0;

    p {
      width: 20%;
      font-size: 1.4rem;
      margin-bottom: 30px;
    }
    a {
      @include buttonRound(black, null, true);
    }

  }
 

}