.home {
  h1 {
    letter-spacing: 4px
  }
  .featured-image {
    @include flexbox(center, center, null, wrap);

    .large-image img {
      width: 480px;
      object-fit: cover;
    }

    img {
      margin: 25px;
      width: 400px;
    }

    p {
      margin-top: 10px;
      font-size: 16px;
      color: #333;
      text-align: center;
    }
  }

  .more-products {
    @include flexbox(center, center, null, wrap);
  
    .product-info {
      text-align: center;    
    }
  
    img {
      margin: 10px;
      width: 700px;
      height: 500px;
      object-fit: cover;
      object-position:top;
    }
  }
}  