.user-form {
  max-width: 500px;
  margin: 50px auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  @media screen and (max-width: 768px) {
    margin: 30px auto;
    padding: 1.5rem;
  }

  @media screen and (max-width: 480px) {
    margin: 20px auto;
    padding: 1rem;
  }

  h2 {
    margin-bottom: 10px;
    color: $main-color;
  }

  .line {
    @include line(50, $main-color);
  }

  .user-form__content {
    display: flex;
    flex-direction: column;

    label {
      align-self: flex-start;
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid $main-color;
      outline: none;
      border-radius: 5px;
      background-color: #fff;

      &:focus {
        border-color: $main-color;
        box-shadow: 0 0 5px rgba($main-color, 0.3);
      }
    }

    button {
      align-self: center;
      width: auto;
      padding: 10px 20px;
      @include buttonSuqare(white, $main-color);

      @media screen and (max-width: 480px) {
        width: 100%; // Le bouton prend toute la largeur sur très petits écrans
        padding: 10px; // Ajustement du padding pour les petits écrans
      }
    }

    p {
      margin-top: 15px;
      text-align: center;
    }

    .user-form__link {
      text-decoration: underline;
      color: $main-color;
      cursor: pointer;
    }
  }
}
