.user-form {
  max-width: 500px;
  margin: 50px auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: $main-color;


  input::placeholder{
   font-size: 0.9rem;
   color:rgb(113, 113, 113);
  }

  h2 {
    margin-bottom: 10px;
    color: white;
  }

  .line {
    @include line(80, white);
  }

  .user-form__content {
    display: flex;
    flex-direction: column;

    label {
      align-self: flex-start;
      margin-bottom: 8px;
      color: white;
    }

    input {
      width: 100%;
      padding: 0.6rem;
      margin-bottom: 1rem;
      border: 1px solid white;
      outline: none;
      border-radius: 4px;
      background-color: white;
      font-size: 1rem;
    }

    button {
      align-self: center;
      width: auto;
      margin-top: 1rem;
      @include buttonSuqare(black, $yellow);
    }

    p {
      margin-top: 15px;
      text-align: center;
      color: white;
    }

    .user-form__link {
      text-decoration: underline;
      cursor: pointer;
      color: $yellow;
    }
  }
}

@media screen and (max-width: 768px) {
.user-form {
  h2 {
    font-size: 1.4rem;
  }
  .user-form__content {
  input {
    padding: 12px;
  }}
}
  
}